body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
}

.nav-bar{
  overflow: auto;
  background-color: tomato;
  height: 120px;
}

.title{
  margin: 0;
}

.nav-list{
  margin: 0;
  padding: 0;
}

.nav-item{
  display: inline-block;

}
