/***

BASE STYLES

***/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75%;
  line-height: 1.5;
  margin: 0;
}

h1,
h3 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

/***

STYLING THE NAV

***/

.nav-bar{
  background-color: tomato;
  text-align: center;
}

.title{
  margin: 0;
  font-size: 5.547em;
}

.title-about{
  margin: 0;
  font-size: 1.387em;
}

.nav-list{
  margin: 0;
  padding: 0;
  font-size: 1.067em;
}

.nav-item{
  display: inline-block;
}


/***

STYLING THE LAYOUT

***/

html,
body{
  height: 100%;
}

.container{
  height: 100%;
}

.projects{
  display: inline;
}

#soom{
  color: #BB7D17;
}

#newmedia{
  color: #3A793E;
}

#seatyourself{
  color: #C64C5B;
}

#crowdfunder{
  color: #5E94CF;
}
