*,
*:after,
*:before {
  box-sizing: border-box;
  margin:0;
  padding:0;
}


/***

BASE STYLES

***/

body
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  color: #4A4A4A;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

h1
{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  letter-spacing: 2px;
}

h3
{
  font-family: "American Typewriter", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  letter-spacing: 2px;
}

h5
{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-size: 0.6em;
  font-variant: normal;
  font-weight: 100;
  letter-spacing: 0.1em;
  color: #999999;
  text-transform: none;
  line-height: 1.1em;

}

a
{
  color: inherit;
  text-decoration: none;
}

/***

STYLING THE NAV

***/
header{
  height: 190px;
}

.nav-bar{
  background-color: #F7F6F2;
  text-align: center;
  height: 100%;
}

.title{
  margin: 0;
  padding: 20px 0 10px;
  font-size: 5.547em;
}

.title-about{
  margin: 0;
  color: #999999;
  font-size: 1.5em;
}

.nav-list{
  margin: 0;
  padding: 2em 0;
  font-size: 1.067em;
}
.nav-list a{
  text-decoration: none;
  color: #4A4A4A;
  letter-spacing: 0.1em;
}

.nav-item{
  padding: 0 1.2em;
  display: inline-block;
}

.nav-list a:hover{
  color: #999999;
}
.nav1,
.nav2,
.nav3{
  border-right: solid #4A4A4A;
  border-right-width: 1px;
}

/***

STYLING THE LAYOUT

***/

html,
body{
  height: 100%;
}
.canvas{
  height: 100%;
}
.container
{
  overflow: hidden;
  height: auto;
}
.project-set{
  position: relative;
  height: 100%;
}

/***

STYLING THE AVATAR

***/

.avatar{
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  float: bottom;

}

.cap{
  margin: 0 auto;
  margin-bottom: 2px;
  width: 73.07px;
  height: 59.73px;
  background: #E9E9E9;
  border-top-left-radius: 38.4px;
  border-top-right-radius: 38.4px;
}

.upperhead{
  position: relative;
  margin: 0 auto;
  width: 210.13px;
  height: 63.735px;
  background: #E9E9E9;
  border-top-left-radius: 51.73px;
  border-top-right-radius: 51.73px;
}

.lowerhead{
  position: relative;
  z-index: -1;
}

.lowerface{
  position: relative;
  margin: 0 auto;
  width: 250.13px;
  height: 63.735px;
  background: #E9E9E9;
}

.mask{
  position: absolute;
  background: white;
  width: 20px;
  height: 63.735px;
}

.left{
  left: 0;
  border-bottom-right-radius: 51.73px;
}
.right{
  right: 0;
  border-bottom-left-radius: 51.73px;
}
.brows{
  position: absolute;
  bottom: 0;
  width: 44.32px;
  height: 44.32px;
  border-radius: 50px;
  background:#7D99A6;
}
.browleft{
  right: 22px;
}
.browright{
  left: 22px;
}
.eyes{
  margin: 0;
  position: relative;
  width: 36.32px;
  height: 36.32px;
  border-radius: 50px;
  background: white;
}

.eyeleft{
  left: 4px;
  top: 4px;
}

.eyeright{
  left: 4px;
  top: 4px;
}

.pupils{
  position: absolute;
  top: 0;
  width: 21.98px;
  height: 21.98px;
  border-radius: 50px;
  background: #7D99A6;
}

.mouth{
  position: relative;
  border: 0;
  width: 110.93px;
  height: 28.27px;
  border-style: solid;
  border-width: 4.8px;
  border-color: #7D99A6;
  margin-left: auto;
  margin-right: auto;
  top: 2px;
  left: 0;
  right: 0;
  background: white;
}

.teeth{
  position: absolute;
  width: 24px;
  height: 21.0px;
  background: white;
  border-style: solid;
  border-top: 4.8px;
  border-bottom: 4.8px;
  border-width: 4.8px;
  border-color: #7D99A6;
}
.tooth1{
  left: 18.24px;
}
.tooth2{
  left: 60.72px;
}

/*

PROJECT LINKS

*/

.project{
  background-size: 200% 100%;
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  letter-spacing: 0.1em;
  line-height: 40px;
}

.project a{
  display: inline-block;
  padding: 0 20px;
  height: 65px;
}

.soom{
  color: #823DBF;
  border-color: #823DBF;
}

.soom:hover {
  background:#823DBF;
  color: white;
}

.newmedia{
  color: #DD4FAB;
  border-color: #DD4FAB;
}

.newmedia:hover{
  background: #DD4FAB;
  color: white;
}

.seatyourself{
  color: #0F8D80;
  border-color: #0F8D80;
}

.seatyourself:hover{
  background: #0F8D80;
  color: white;
}

.crowdfunder{
  color: #3764C5;
  border-color: #3764C5;
}

.crowdfunder:hover{
  background: #3764C5;
  color: white;
}

@media screen and (max-width: 1000px) {
  .crowdfunder{
    right: 5%;
    top: 70%;
  }
  .seatyourself{
    right: 15%;
    top: 50%;
  }
  .soom{
    left: 20%;
    top: 35%;
  }
  .newmedia{
    left: 5%;
    top: 70%;
  }
}

@media (max-width: 660px)
{
  .container{
    margin: 40px 15px 0;
  }

  .project{
    margin-bottom: 15px;
  }

  .project a{
    width: 100%;
    line-height: 60px;
  }

  .project h5{
    display: none;
  }
}

@media (min-width: 661px){
  .project{
    display: inline;
    position: absolute;
  }

  .crowdfunder{
    right: 5%;
    top: 70%;
  }
  .seatyourself{
    right: 10%;
    top: 50%;
  }
  .soom{
    left: 20%;
    top: 35%;
  }
  .newmedia{
    left: 5%;
    top: 70%;
  }
}

@media (min-width: 900px)
{
  .seatyourself{
    right: 18%;
  }
  .soom{
    top: 40%;
  }
}

@media (min-width: 1200px)
{
  .seatyourself{
    right: 25%;
    top: 45%;
  }
  .crowdfunder{
    right: 10%;
  }
  .newmedia{
    left: 10%;
  }
}
